main {
    width: 100%;
    display: flex;
    flex-direction: row;

    .content {
        padding: 70px 110px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 75px;
        justify-content: space-between;

        &_message {
            height: 100vh;
        }

        &_welcome {
            display: flex;
            flex-direction: column;
            gap: 35px;

            &_row {
                display: flex;
                flex-direction: row;
                gap: 50px;
                align-items: center;
            }

            h1 {
                font-size: 48px;
                font-weight: 500;
            }

            span {
                color: $red-txt;
            }

            p {
                font-size: 18px;
            }

            button {
                border-radius: 25px;
                width: 150px;
                height: 30px;
                border: none;
                background-color: $red-bg;
                color: white;
                font-weight: 500;
            }
        }

        &_container {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            &_charts {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;

                &_row {
                    display: flex;
                    gap: 30px;
                    width: 100%;
                }
            }
        }
    }
}

aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 258px;

    .aside_container {
        width: 100%;
        height: 124px;
        background: $grey-bg;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 32px;

        &_text {
            text-align: left;

            h2 {
                font-size: 20px;
            }

            h3 {
                font-size: 14px;
                color: $grey-txt;
            }
        }
    }
}

@media screen and (max-width: 1439px) {
    main {
        .content {
            padding: 30px 25px;

            &_container {
                flex-direction: column;
                width: 100%;
            }
        }

        aside {
            flex-direction: row;
            width: 100%;
            gap: 10px;

            .aside_container {
                width: calc((100% - 30px) / 4);
                padding: 15px;
            }
        }
    }
}