@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: black;
    width: 100%;
    padding: 20px 90px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .nav_btn {
        color: white;
        font-size: 24px;
        font-weight: 500;
    }
}

main {
    width: 100%;
    display: flex;

    .sidebar {
        width: 117px;
        height: 100vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &_nav {
            width: 100%;
            padding: 0 26px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &_copyrights {
            color: white;
            rotate: 270deg;
            white-space: nowrap;
            font-size: 12px;
        }
    }

    .content {
        padding: 70px 110px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .content_welcome {
            display: flex;
            flex-direction: column;
            gap: 35px;

            h1 {
                font-size: 48px;
                font-weight: 500;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

.content_container{
    display: flex;
    justify-content: space-between;
    &_charts{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.chart {
    height: 263px;
    width: 258px;
    background: #ff0000;
    border-radius: 5px;
    position: relative;

    .tooltip {
        background-color: white;
        padding: 8px;

        &_content {
            font-size: 8px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }
    }

    .recharts-legend-wrapper {
        position: static !important;
    }

    .recharts-line-dot{
        display: none;
    }

    &_title {
        font-size: 15px;
        color: white;
        opacity: 0.5;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .recharts-cartesian-axis-tick-value{
        font-size: 12px;
        color: white;
        opacity: 0.5; 
        font-weight: 500;
        z-index: 2000 !important;
    }
    .recharts-cartesian-axis-line, .recharts-cartesian-axis-tick-line{
        display: none;
    }
}

.chart_performance{
    background: #282D30;
    height: 263px;
    width: 258px;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    .recharts-polar-angle-axis-tick-value{
        font-size: 12px;
        font-weight: 500;
        padding-top: 50px;
    }
    line.angleAxis{
        display: none;
    }
}

aside{
    display: flex;
    flex-direction: column;
    gap: 40px;
    .aside_container{
        width: 258px;
        height: 124px;
        background: #fbfbfb;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 32px;
        &_text{
            text-align: left;
            h2{
                font-size: 20px;
            }
            h3{
                font-size: 14px;
                color: #74798C;
            }
        }
    }
}